@charset "utf-8";

.menus i {
	position: absolute;
	overflow: hidden;
	right: 15px;
	transition-duration: 0.3s;
	transition-property: all;
}
.menu icon {
	position: relative;
	overflow: hidden;
	left: 5px;
	margin-right:15px;
	transition-duration: 0.3s;
	transition-property: all;
}

.menus ul {
	margin-left: 10px;
}

a:hover, a:visited, a:active {
	text-decoration: none;
}

.menu a {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.menu ul li ul {
	display: none;
}