<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title></title>
	<link rel="stylesheet" type="text/css" href="../../resources/jquery_mobile_1.0b1/jquery.mobile-1.0b1.min.css" />
	<script type="text/javascript" src="../../resources/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="../../resources/jquery_mobile_1.0b1/jquery.mobile-1.0b1.min.js"></script>
	<script type="text/javascript" src="../../resources/mobile-common.js"></script>
</head>
<body>
	<div data-role="dialog" id="%ObjectName%DetailPage">
		<script>
			$("#%ObjectName%DetailPage").live("pagebeforeshow",function(){
				var %ObjectName%=$("#%ObjectName%ListPage li.jshx-selected").removeClass("jshx-selected").data("data");
				var %ObjectName%Detail=%ObjectDetail%;
				$("#%ObjectName%DetailPage div[data-role=content]")[0].innerHTML=%ObjectName%Detail;
				window.keepList=true;
			});
		</script>
		<div data-role="header" data-theme="b" data-position="fixed">
			<h1>%ClassDisplayName%详细</h1>
		</div>
		<div data-role="content">
		</div>
	</div>
</body>
</html>