<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title></title>
	<link rel="stylesheet" type="text/css" href="../../resources/jquery_mobile_1.0b1/jquery.mobile-1.0b1.min.css" />
	<script type="text/javascript" src="../../resources/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="../../resources/jquery_mobile_1.0b1/jquery.mobile-1.0b1.min.js"></script>
	<script type="text/javascript" src="../../resources/mobile-common.js"></script>
</head>
<body>
	<div data-role="page" id="%ObjectName%EditPage">
		<script>
			$("#%ObjectName%EditPage").live("pagebeforeshow",function(){
				var %ObjectName%=$("#%ObjectName%ListPage li.ui-btn-active").data("data");
				objectToForm(%ObjectName%,$("#%ObjectName%EditPage form"));
				window.keepList=true;
			});
			function update%ClassName%(){
				var %ObjectName%=$("#%ObjectName%ListPage li.ui-btn-active").data("data");
				var new%ClassName%=formToObject($("#%ObjectName%EditPage form"));
				$.extend(%ObjectName%,new%ClassName%);
				var dataString=objectToURLString(%ObjectName%,"%ObjectName%");
				$.ajax({
                	url:window.serverUrl+"/mobile/%ObjectName%/save%ClassName%.action?callback=?",
                	async: false,
                	type:"GET",
                	data:dataString,
                	dataType:"jsonp",
               		success:update%ClassName%Success
             	});
			}
			function update%ClassName%Success(){
				$("#%ObjectName%EditPage form")[0].reset();
				window.keepList=false;
				window.history.back();
			}
		</script>
		<div data-role="header" data-theme="b" data-position="fixed">
			<h1>%ClassDisplayName%修改</h1><a data-rel="back">后退</a>
		</div>
		<div data-role="content">
			<div data-role="fieldcontain">
				<form>
%Form%
				</form>
			</div>
			<div align="center">
				<button onclick="update%ClassName%();">保存</button>
			</div>
		</div>
	</div>
</body>
</html>